<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example web</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    
    <h1><%= title %></h1>
    <h1 id="demo">Hello world</h1>
    <img src="C:\Users\ASUS\Pictures/a.jpg" alt="รายละเอียดรูปภาพ" width="300" height="200">

    <script>
        function myFunction() {
          document.getElementById("demo").innerHTML = "Techcast";
        }
    </script>
    <a  class="text-center" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://docs.google.com/forms/d/e/1FAIpQLSffbQo2sdzGv7jzIAzvY1CIq3iXeXZYXCWrHEB5KpxmjCdOJg/viewform?usp=sf_link">
        สถานที่
      </a>
</body>
</html>